[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "validann"]
	path = validann
	url = https://github.com/gbhumphrey1/validann
	shallow = true
	registered = true
